<div ng-controller='ExAudioController'>
    <h2>Kuulamise harjutus</h2>
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Tähelepanu!</strong> Enne harjutusega alustamist on soovitav testida, kas heli tugevus ja kiirus sobivad. Harjutuse ajal ei ole võimalik<br>
        muuta teksti lugemise kiirust. Peale harjutuse käivitamist, ei ole võimalik seda pausile panna, saab ainult lõpetada!
    </div>
    <div class="audio-test">
        <button class="btn btn-primary audio-test-button" ng-click="audioTesting.paused ? audioTesting.play() : audioTesting.pause()"><span class="glyphicon" ng-class="{'glyphicon-play': audioTesting.paused, 'glyphicon-pause': !audioTesting.paused}" aria-hidden="true"></span> Testimine</button>
        <div class="audio-slider">
            <div class="slider">
                <div class="slider-header">Heli tugevus:</div>
                <div class="slider-body">
                <rzslider rz-slider-model="sliderVolume.value" rz-slider-options="sliderVolume.options"></rzslider>
                </div>
            </div>
            <div class="slider">
                <div class="slider-header">Heli kiirus:</div>
                <div class="slider-body">
                <rzslider rz-slider-model="sliderPlayback.value" rz-slider-options="sliderPlayback.options"></rzslider>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="endExe()">Lõpeta</button>
    <button class="btn btn-primary" ng-click="startExe()"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Alusta</button>
    <div class="audio-line" ng-show="textVisibility">
        <div class="audio-track">{{audio.remaining | audioTrackTime}}</div>
        <div class="slider-progress">
            <rzslider rz-slider-model="sliderProgress.value" rz-slider-options="sliderProgress.options"></rzslider>
        </div>
    </div>
    <textarea class="form-control" rows="4" ng-disabled="textDisabled" ng-model="textInserted" ng-show="textVisibility"></textarea>
    <div class="answer-text" ng-hide="textVisibility">
        <div class="stat_info">Õigeid: {{ audioExerResult.typed.correct }}  Valesid: {{ audioExerResult.typed.wrong }}  Kokku: {{ audioExerResult.typed.all }}/{{audioExerResult.correct.all}}</div>
        <span ng-repeat="word in textChecked">
            <span ng-repeat="lett in word" ng-class="{letter_green: lett.correct, letter_red: !lett.correct}">{{lett.letter}}</span>
        </span>
        <div>
        <button class="btn btn-primary" ng-click="toggleCorrect()">Näita vastust</button>
        </div>
    </div>
    <div class="answer-text" ng-hide="correctHide">
        {{correctAnswer}}
    </div>
</div>