<div ng-controller='ExAudioController'>
    <div class="modal fade bs-example-modal-sm" id="audioTextModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{newAudioExeHeader}}</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="alert alert-info alert-dismissible" role="alert" ng-show="exeAlertInfo">
                            <strong>Tähelepanu!</strong> Sisestatud tekst muudetakse lauseteks, et oleks võimalik kasutada lause kordamist.
                            Selleks vaadeldakse, et lause lõpus oleks lõpumärk(.!?), edasi täpselt üks tühik ja järgmine lause algaks suure tähega!
                        </div>
                        <div class="alert alert-danger alert-dismissable" role="alert" ng-show="errorAlert.show">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Viga!</strong> {{ errorAlert.text }}
                        </div>
                        <div class="form-inline">
                            <label>Lugeja hääl</label>
                            <select class="form-control select-m" ng-model="voiceSelect" ng-init="voiceSelect = voiceValues[0]" ng-options="voice.name for voice in voiceValues">
                            </select>
                            <button class="btn btn-primary" ng-click="testVoice()"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Kuula</button>
                        </div>
                        <div class="form-inline form-group">
                            <label for="newAudioText">{{newAudioExeTaHeader}}</label>
                            <textarea class="form-control" id="newAudioText" ng-model="newAudioExeText" ng-copy="$event.preventDefault();" ng-disabled="newAudioTextDisabled" cols="70" rows="5"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="loadingExeButton" type="button" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> {{newAudioModalButton.loading}}" ng-click="createNewAudioExe()">{{newAudioModalButton.name}}</button>
                    <button class="btn btn-warning" type="button" data-dismiss="modal">Tühista</button>
                </div>
            </div>
        </div>
    </div>
    <h2>Kuulamise harjutus</h2>
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Tähelepanu!</strong> Enne harjutusega alustamist on soovitav testida, kas heli tugevus ja kiirus sobivad. Harjutuse ajal ei ole võimalik<br>
        muuta teksti lugemise kiirust. Peale harjutuse käivitamist, ei ole võimalik seda pausile panna, saab ainult lõpetada!
    </div>
    <div class="audio-test">
        <button class="btn btn-primary audio-test-button" ng-click="audioTesting.paused ? audioTesting.play() : audioTesting.pause()"><span class="glyphicon" ng-class="{'glyphicon-play': audioTesting.paused, 'glyphicon-pause': !audioTesting.paused}" aria-hidden="true"></span> Testimine</button>
        <div class="audio-slider">
            <div class="slider">
                <div class="slider-header">Heli tugevus:</div>
                <div class="slider-body">
                <rzslider rz-slider-model="sliderVolume.value" rz-slider-options="sliderVolume.options"></rzslider>
                </div>
            </div>
            <div class="slider">
                <div class="slider-header">Heli kiirus:</div>
                <div class="slider-body">
                <rzslider rz-slider-model="sliderPlayback.value" rz-slider-options="sliderPlayback.options"></rzslider>
                </div>
            </div>
        </div>
    </div>
    <div class="audio-slt">
        <div clasS="slt">
            <div class="slt-header">Lause lugemiste arv</div>
            <div class="slt-body">
                <select class="form-control select-small" ng-model="audioRepeat" ng-init="audioRepeat = repeatValues[0]" ng-disabled="repeatDisabled" ng-options="repeat for repeat in repeatValues">
                </select>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="endExe()">Lõpeta</button>
    <button class="btn btn-primary" ng-click="startExe()"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Alusta</button>
    <button class="btn btn-info" ng-click="createNewExe()">Sisesta oma tekst</button>
    <button class="btn btn-info" ng-click="changeVoice()">Muuda lugejat</button>
    <div class="alert alert-success alert-dismissible alert-margin" role="alert" ng-show="successAlert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Õnnestus!</strong> Uus harjutus on loodud ning harjutamiseks vajuta nuppu Alusta.
    </div>
    <div class="audio-line" ng-show="textVisibility">
        <div class="audio-track">{{someAudio.remaining | audioTrackTime}}</div>
        <div class="slider-progress">
            <rzslider rz-slider-model="sliderProgress.value" rz-slider-options="sliderProgress.options"></rzslider>
        </div>
    </div>
    <textarea id="textarea" class="form-control" ng-paste="$event.preventDefault();" rows="4" ng-disabled="textDisabled" ng-model="textInserted" ng-show="textVisibility"></textarea>
    <div class="answer-text" ng-hide="textVisibility">
        <div class="stat_info">Õigeid: {{ audioExerResult.typed.correct }}  Valesid: {{ audioExerResult.typed.wrong }}  Kokku: {{ audioExerResult.typed.all }}/{{audioExerResult.correct.all}}</div>
        <!--<span ng-repeat="word in textChecked">
            <span ng-repeat="lett in word" ng-class="{letter_green: lett.correct, letter_red: !lett.correct}">{{lett.letter}}</span>
        </span>-->
        <div diff left-obj="textInserted" right-obj="correctAnswer" options="diffOptions"></div>
        <div>
        <button class="btn btn-primary" ng-click="toggleCorrect()">Näita vastust</button>
        </div>
    </div>
    <div class="answer-text" ng-hide="correctHide">
        {{correctAnswer}}
    </div>
</div>