<div>
    <div ng-controller='ExAudioController'>

        <!--<input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.progress'>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( audio.progress*100 + '%' ) }">
                <span class="sr-only">60% Complete</span>
            </div>
        </div>-->
    </div>
    <div class="">
        <button class="btn btn-primary" ng-click="endExe()">Lõpeta</button>
        <button class="btn btn-primary" ng-click="startExe()">Alusta</button>
        <label>Aeg: {{audio.currentTime | trackTime}}</label><br/>
        <label>Volume:</label>
        <input class='form-control' type=range min=0 max=1 step=0.01 ng-model="audio.volume">
        <label>Kiirus:</label>
        <input class='form-control' type=range min=0.5 max=1.5 step=0.01 ng-model="audio.playbackRate">
    </div>

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Hoiatus!</strong> Harjutust ei saa vahepeal pausile panna!
    </div>
    <textarea class="form-control" rows="4" ng-disabled="textDisabled" ng-model="textInserted" ng-show="textVisibility"></textarea>
    <div class="answer-text" ng-hide="textVisibility">
        <span ng-repeat="word in textChecked">
            <span ng-repeat="lett in word" ng-class="{letter_green: lett.correct, letter_red: !lett.correct}">{{lett.letter}}</span>
        </span>
        <div>
        <button class="btn btn-primary" ng-click="toggleCorrect()">Näita vastust</button>
        </div>
    </div>
    <div class="answer-text" ng-hide="correctHide">
        {{correctAnswer}}
    </div>
</div>