<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/angular-toogle-switch.css">
    <link rel="stylesheet" href="/assets/css/rzslider.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

</head>
<body ng-app="TenFingers" ng-controller="ExerciseController" ng-keydown="onKeyDown($event)">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/exercise">10 sõrmega trükkimine</a>
            <p class="navbar-text">Kasutad rakendust kui {{ user.name }}</p>
        </div>
        <div class="navbar-setting">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#settingsModal">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            <div class="modal fade bs-example-modal-sm" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Seaded</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-inline form-group">
                                    <label for="letterStyle">Sisestatud teksti värv</label>
                                    <toggle-switch class="loc-right" ng-model="switchLetterStyle.value" id="letterStyle"></toggle-switch>
                                </div>
                                <div class="form-inline form-group">
                                    <label for="keyboardShow">Klaviatuuri kuvamine</label>
                                    <toggle-switch class="loc-right" ng-model="switchKeyboard.value" id="keyboardShow"></toggle-switch>
                                </div>
                                <div class="form-inline form-group">
                                    <label for="keyboardLayout">Klaviatuur</label>
                                    <select id="keyboardLayout" class="form-control loc-right" ng-model="selectKeyboardLayout.value" ng-disabled="selectKeyboardLayout.disable">
                                        <option value="eesti">Eesti</option>
                                    </select>
                                </div>
                                <div class="form-inline form-group">
                                    <label for="keyboardInst">Klaviatuuri õpetused</label>
                                    <toggle-switch class="loc-right " ng-model="switchKeyboardInst.value" id="keyboardInst" is-disabled="switchKeyboardInst.disable"></toggle-switch>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="left_menu" ng-controller="MenuController">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel">
            <div class="" role="tab" id="headingOne">
                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="list-group-item">
                    Alustajale
                </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" uib-collapse="menu.begin">
                <div class="">
                    <div class="list-group">
                        <a ng-repeat="exer in exercise" ui-sref="exercise({number: {{exer.id}}})" class="list-group-item" ng-class="{active: active('/exercise/begin/{{exer.id}}')}">{{ exer.name }}</a>
                    </div>
                </div>
            </div>

            </div>
         <div class="panel">
            <div class="" role="tab" id="headingTwo">
                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne" class="list-group-item">
                    Edasijõudnule
                </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" uib-collapse="menu.audio">
                <div class="">
                    <div class="list-group">
                        <!--<a ng-repeat="exer in exercise" ui-sref="exercise({number: {{exer.id}}})" class="list-group-item" ng-class="{active: active('/exercise/{{exer.id}}')}">{{ exer.name }}</a>-->
                        <a href="/exercise/audio" class="list-group-item" ng-class="{active: active('/exercise/audio')}">Kuulamisega</a>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
<div class="content" ng-controller="ExController">
    <ui-view></ui-view>
    </div>

    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-ui-router.min.js"></script>
    <script src="/assets/js/ui-bootstrap.min.js"></script>
    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/angular-toggle-switch.min.js"></script>
    <script src="/assets/js/angular-cookies.js"></script>
    <script src="/assets/js/angular.audio.js"></script>
    <script src="/assets/js/rzslider.min.js"></script>
    <script src="/app.js"></script>
    <script src="/app/service/keyboard.js"></script>
    <script src="/app/service/user.js"></script>
    <script src="/app/controller/maincontroller.js"></script>
</body>
</html>