
<div class="keyboard">
    <div class="first_line">
        <div class="key_norm"><div class="key_letter">ˇ</div></div>
        <div class="key_norm"><div class="key_letter">1</div></div>
        <div class="key_norm"><div class="key_letter">2</div></div>
        <div class="key_norm"><div class="key_letter">3</div></div>
        <div class="key_norm"><div class="key_letter">4</div></div>
        <div class="key_norm"><div class="key_letter">5</div></div>
        <div class="key_norm"><div class="key_letter">6</div></div>
        <div class="key_norm"><div class="key_letter">7</div></div>
        <div class="key_norm"><div class="key_letter">8</div></div>
        <div class="key_norm"><div class="key_letter">9</div></div>
        <div class="key_norm"><div class="key_letter">0</div></div>
        <div class="key_norm"><div class="key_letter">+</div></div>
        <div class="key_norm"><div class="key_letter">´</div></div>
        <div class="key_backspace"><div class="key_letter"><-</div></div>

    </div>
    <div class="first_line">
        <div class="key_tab" ng-class="{key_active: keyboard.key_active == 'Tab', key_wrong: key_wrong == 'Tab'}"><div class="key_letter">->|</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'q', key_wrong: key_wrong == 'q'}"><div class="key_letter">Q</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'w', key_wrong: key_wrong == 'w'}"><div class="key_letter">W</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'e', key_wrong: key_wrong == 'e'}"><div class="key_letter">E</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'r', key_wrong: key_wrong == 'r'}"><div class="key_letter">R</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 't', key_wrong: key_wrong == 't'}"><div class="key_letter">T</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'y', key_wrong: key_wrong == 'y'}"><div class="key_letter">Y</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'u', key_wrong: key_wrong == 'u'}"><div class="key_letter">U</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'i', key_wrong: key_wrong == 'i'}"><div class="key_letter">I</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'o', key_wrong: key_wrong == 'o'}"><div class="key_letter">O</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'p', key_wrong: key_wrong == 'p'}"><div class="key_letter">P</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'ü', key_wrong: key_wrong == 'ü'}"><div class="key_letter">Ü</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'õ', key_wrong: key_wrong == 'õ'}"><div class="key_letter">Õ</div></div>

    </div>
    <div class="key_enter">
    <div class="key_enter1"><div class="key_letter"><--</div></div>
    <div class="key_enter2"><div class="key_enter3"><div class="key_enter4"></div></div><div class="key_letter"></div></div>
        </div>
    <div class="sec_line">
        <div class="key_caps"><div class="key_letter">caps lock</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'a', key_wrong: key_wrong == 'a'}"><div class="key_letter">A</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 's', key_wrong: key_wrong == 's'}"><div class="key_letter">S</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'd', key_wrong: key_wrong == 'd'}"><div class="key_letter">D</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'f', key_wrong: key_wrong == 'f'}"><div class="key_letter">F</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'g', key_wrong: key_wrong == 'g'}"><div class="key_letter">G</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'h', key_wrong: key_wrong == 'h'}"><div class="key_letter">H</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'j', key_wrong: key_wrong == 'j'}"><div class="key_letter">J</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'k', key_wrong: key_wrong == 'k'}"><div class="key_letter">K</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'l', key_wrong: key_wrong == 'l'}"><div class="key_letter">L</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'ö', key_wrong: key_wrong == 'ö'}"><div class="key_letter">Ö</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'ä', key_wrong: key_wrong == 'ä'}"><div class="key_letter">Ä</div></div>
        <div class="key_norm"><div class="key_letter">'</div></div>
        <div class="key_enter_place"></div>
    </div>
    <div class="first_line">
        <div class="key_norm"><div class="key_letter">^</div></div>
        <div class="key_norm"><div class="key_letter"><</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'z', key_wrong: key_wrong == 'z'}"><div class="key_letter">Z</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'x', key_wrong: key_wrong == 'x'}"><div class="key_letter">X</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'c', key_wrong: key_wrong == 'c'}"><div class="key_letter">C</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'v', key_wrong: key_wrong == 'v'}"><div class="key_letter">V</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'b', key_wrong: key_wrong == 'b'}"><div class="key_letter">B</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'n', key_wrong: key_wrong == 'n'}"><div class="key_letter">N</div></div>
        <div class="key_norm" ng-class="{key_active: keyboard.key_active == 'm', key_wrong: key_wrong == 'm'}"><div class="key_letter">M</div></div>
        <div class="key_norm"><div class="key_letter">,</div></div>
        <div class="key_norm"><div class="key_letter">.</div></div>
        <div class="key_norm"><div class="key_letter">-</div></div>
        <div class="key_shift"><div class="key_letter">^</div></div>
    </div>
    <div class="first_line">
        <div class="key_norm"><div class="key_letter">ctrl</div></div>
        <div class="key_norm"><div class="key_letter"></div></div>
        <div class="key_norm"><div class="key_letter">win</div></div>
        <div class="key_norm"><div class="key_letter">alt</div></div>
        <div class="key_space"><div class="key_letter"></div></div>
        <div class="key_norm"><div class="key_letter">alt gr</div></div>
        <div class="key_norm"><div class="key_letter"></div></div>
        <div class="key_norm"><div class="key_letter">ctrl</div></div>
        <div class="key_norm"><div class="key_letter"></div></div>
        <div class="key_norm"><div class="key_letter"></div></div>
    </div>
</div>